body {
  background-color: #AF877F;
}

h2 {
  color: solid black;
  text-align: center;
}

p {
  color: solid grey;
  text-align: center;
}

input {
  width: 10%;
  margin-top: 30px;
  margin-left: 100px;
  padding: 5px 5px;
}

#landingPageSection {
  text-align: center;
}