body {
    background-color: #AF877F;
}

h2 {
    text-align: center;
}

form,
button {
    display: inline-block;
}

form {
    color: grey;
}

button {
    margin-top: 10px;
    padding: 10px 50px;
}

#actionSection {
    text-align: center;
}

ol li {
    list-style-type: Times-Newroman;
    margin-left: 400px;
    padding: 8px;
}